*{
    margin: 0%;
    padding:0% ;
}
.cont{
    height: 500px;
    width: 355px;
    padding: 10px;
    margin: 10%;
}
input{
    font-size: 25px;
    padding: 10px;
    text-align: right;
    border-radius: 15px;
    margin-bottom: 15px;
    color: blueviolet;

}
.button{
    width: 85px;
    height: 70px;
    position: relative;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    background: transparent;

}
.button:hover{
    color: rgb(216, 252, 14);
}
.equal{
    width: 170px;
    height: 70px;
    background: transparent;
    text-align: center;
    cursor: pointer;
    font-size: 25px;
}